body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: pink;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Nav.Link {
  font-family: 'Roboto Condensed', sans-serif;
} */

/* .NavBar{
  justify-content: Right;
  font-size: 50px;
  margin: 12px;
  padding: 5px;
} */
.nav{
  font-size: 50px;
  display: inline;
  font-family:tempus sans itc;
 
}
.navigation_bar > ul > li {
  list-style: none;
  display: inline;
  margin: 3%;
  font-size: 50px;
  
}
.bottle-form{
  margin: 12%;
  font-size: 25px;
  border-width: 15px;
}


