# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
teas-frontend/node_modules
teas-frontend/.pnp
.pnp.js

# testing
teas-frontend/coverage

# production
teas-frontend/build

# misc
teas-frontend/.DS_Store
teas-frontend/.env.local
teas-frontend/.env.development.local
teas-frontend/.env.test.local
teas-frontend/.env.production.local

teas-frontend/npm-debug.log*
teas-frontend/yarn-debug.log*
teas-frontend/yarn-error.log*
